[submodule "backend"]
	path = backend
	url = https://github.com/Pradeepkumar527/ecommerce-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Pradeepkumar527/ecommerce-frontend.git
